<!DOCTYPE html>
<html lang = "zh-tw">
    <head>
        <meta charset="UTF-8">
        <link href="./../images/icon1.ico" rel="shortcut icon" />
        <meta name="viewport" content="width=device-width", initial-scale=1.0 />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="./../base.css">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4ce746933b.js" crossorigin="anonymous"></script>
        <!-- jquery -->
        <script src="./../js/jquery-3.6.3.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
<!--上方選單-->

        <header>
            <span>
                <a href="#" class="logo">
                    <img src="../../images/cat1-d.png" alt="logo" class="catlogo">我的貓咪書友</a>
            </span>
            <div class="bx bx-menu" id="menu-icon"></div>
            
            <ul class="navbar">
                {% if current_user.is_authenticated %}
                <li><a href="./../map">地圖</a></li>
                <li>
                    <a href="#">回憶 ▾</a>
                    <ul class="dropdown">
                        <li><a href="#">個人分析</a></li>
                        <li><a href="./../post_cards">我的收藏</a></li>
                        <li><a href="./../mybooks">讀過的書</a></li>
                    </ul>
                </li>
                <li><a href="./../discovery">探索</a></li>
                <li><a href="https://tpml.gov.taipei/">圖書館</a></li>
                <li><a href="./../logout">登出</a></li>
                <li><a href="./../donate">抖內我們</a></li>
                {% else %}
                <li><a href="./../discovery">探索</a></li>
                <li><a href="https://tpml.gov.taipei/">圖書館</a></li>
                <li><a href="./../login">登入</a></li>
                <li><a href="../../register">註冊帳號</a></li>
                {% endif %}
            </ul>
        </header>
        
<!--上方選單結束 -->

<!-- 背包 -->
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bag-backpack" id="btn">     背包</i>
                <i class="fas fa-angles-left" id="cancel"></i>
            </label>
        <div class="sidebar">
            <h2>背包</h2>
            <ul>
                {% for b in bag_books%}
                <li><a href="#"><img src = {{b[2]}}>{{b[1]}}</i></a></li>
                <!--
                <li><a href="#"><i class="fas fa-book">  書 2</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 3</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 4</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 5</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 6</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 7</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 8</i></a></li>
                -->
                {% endfor %}
            </ul>
        </div>
<!-- 背包結束 -->

        <main>
            <!-- 可供更改的部分 -->
            <section class = "main">
           {% block main %}{% endblock %}
           </section>
       </main>

       <footer>
           <div></div>
       </footer>
       
       
       {% block script %}{% endblock %}

    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
    <script src="./../js/myscript.js"></script>
</html>
