<style>
    .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    width: 500px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
  }

  .popup-content2 {
    background-color: #fff;
    width: 500px;
    height: 300px;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
  }
  

  .close-btn {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 120px;
    right: 270px;
    border-radius: 100%;
    background: #d75f70;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 5px;
    font-size: 15px;
  }

  .close-btn2 {
    width: 70px;
    height: 40px;
    display: inline-flexbox;
    position: absolute;
    top: 370px;
    right: 290px;
    border-radius: 10%;
    background: #e3e3e3;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }

  .text1 {
    position: absolute;
    top: 160px;
    left: 290px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
  }

  .text2 {
    position: absolute;
    top: 218px;
    right: 320px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
  }

  .text3 {
    position: absolute;
    top: 280px;
    right: 325px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
  }

  .text4 {
    position: absolute;
    top: 205px;
    left: 290px;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }

  .text5 {
    position: absolute;
    top: 240px;
    left: 290px;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }

  .text6 {
    position: absolute;
    top: 275px;
    left: 290px;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }

  .text7 {
    position: absolute;
    top: 310px;
    left: 290px;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }


  .img1 {
    position: absolute;
    top: 128px;
    right: 393px;
  }
  .img2 {
    position: absolute;
    top: 128px;
    right: 353px;
  }
  .img3 {
    position: absolute;
    top: 128px;
    right: 313px;
  }
  .img4 {
    position: absolute;
    top: 125px;
    right: 295px;
  }


  
</style>

<!--地圖明信片-->
<button onclick="openPopup2()">Open postcard</button>
<div id="map_popup" class="popup">
    <div class="popup-content">
      <h2>台北市 | NEW TAIPEI CITY</h2>
      <p>
        <img src="stamp.png" width="150" height="100">
        <img src="stamp.png" width="150" height="100">
      </p>
      <button class=close-btn onclick="closePopup2()">X</button>
    </div>
</div>

<!--寄出明信片-->
<button onclick="openPopup()">Open Popup</button>

<div id="popup1" class="popup">
  <div class="popup-content2">
    <p>
        <img src="postcard.png" width="400" height="250">
    </p>
    <button class=close-btn2 onclick="openNextPopup1()">stamp</button>
  </div>
</div>

<div id="popup2" class="popup">
  <div class="popup-content2">
    <p>
        <img src="postcard.png" width="400" height="250">
    </p>

    <p class="img1"><img src="onlystamp.png" width="48" height="58"></p>

    <p class="text1">DEAR MEW TAIPEI</p>
    <p class="text2">MEW TAIPEI CAT</p>
    <p class="text3">CAT'S HOME</p>
    <p class="text4">最近我念了三本書，想分享給你</p>
    <p class="text5">1. 哈囉</p>

    <button class=close-btn2 onclick="openNextPopup2()">stamp</button>
  </div>
</div>

<div id="popup3" class="popup">
    <div class="popup-content2">
        <p>
            <img src="postcard.png" width="400" height="250">
        </p>

        <p class="img1"><img src="onlystamp.png" width="48" height="58"></p>
        <p class="img2"><img src="onlystamp.png" width="48" height="58"></p>
    
        <p class="text1">DEAR MEW TAIPEI</p>
        <p class="text2">MEW TAIPEI CAT</p>
        <p class="text3">CAT'S HOME</p>
        <p class="text4">最近我念了三本書，想分享給你</p>
        <p class="text5">1. 哈囉</p>
        <p class="text6">2. 哈囉</p>

        <button class=close-btn2 onclick="openNextPopup3()">paste</button>
    </div>
</div>

<div id="popup4" class="popup">
    <div class="popup-content2">
        <p>
            <img src="postcard.png" width="400" height="250">
        </p>

        <p class="img1"><img src="onlystamp.png" width="48" height="58"></p>
        <p class="img2"><img src="onlystamp.png" width="48" height="58"></p>
        <p class="img3"><img src="onlystamp.png" width="48" height="58"></p>
    
        <p class="text1">DEAR MEW TAIPEI</p>
        <p class="text2">MEW TAIPEI CAT</p>
        <p class="text3">CAT'S HOME</p>
        <p class="text4">最近我念了三本書，想分享給你</p>
        <p class="text5">1. 哈囉</p>
        <p class="text6">2. 哈囉</p>
        <p class="text7">3. 哈囉</p>

        <button class=close-btn2 onclick="openNextPopup4()">finish</button>
    </div>
</div>

<div id="popup5" class="popup">
    <div class="popup-content2">
        <p>
            <img src="postcard.png" width="400" height="250">
        </p>

        <p class="img1"><img src="onlystamp.png" width="48" height="58"></p>
        <p class="img2"><img src="onlystamp.png" width="48" height="58"></p>
        <p class="img3"><img src="onlystamp.png" width="48" height="58"></p>
        <p class="img4"><img src="final_stamp.png" width="155" height="80"></p>
    
        <p class="text1">DEAR MEW TAIPEI</p>
        <p class="text2">MEW TAIPEI CAT</p>
        <p class="text3">CAT'S HOME</p>
        <p class="text4">最近我念了三本書，想分享給你</p>
        <p class="text5">1. 哈囉</p>
        <p class="text6">2. 哈囉</p>
        <p class="text7">3. 哈囉</p>

        <button class=close-btn2 onclick="openNextPopup5()">send</button>
    </div>
</div>
  

<div id="popup6" class="popup">
    <div class="popup-content2">
      <h2>Next Popup Title</h2>
      <p>Next popup content goes here...</p>
      <button class=close-btn onclick="closePopup()">close</button>
    </div>
</div>


<script>
    function openPopup2() {
    var map_popup = document.getElementById("map_popup");
    map_popup.style.display = "flex";
  }
  function closePopup2() {
    var map_popup = document.getElementById("map_popup");
    map_popup.style.display = "none";
  }


    function openPopup() {
    var popup = document.getElementById("popup1");
    popup.style.display = "flex";
  }
  
  function closePopup() {
    var popup6 = document.getElementById("popup6");
    var popup5 = document.getElementById("popup5");
    popup6.style.display = "none";
    popup5.style.display = "none";
  }
  
  function openNextPopup1() {
    var popup = document.getElementById("popup1");
    popup.style.display = "none";
    var popup2 = document.getElementById("popup2");
    popup2.style.display = "flex";
  }
  function openNextPopup2() {
    var popup = document.getElementById("popup1");
    popup.style.display = "none";
    var popup2 = document.getElementById("popup2");
    popup2.style.display = "none";
    var popup3 = document.getElementById("popup3");
    popup3.style.display = "flex";
  }
  function openNextPopup3() {
    var popup = document.getElementById("popup1");
    popup.style.display = "none";
    var popup2 = document.getElementById("popup2");
    popup2.style.display = "none";
    var popup3 = document.getElementById("popup3");
    popup3.style.display = "none";
    var popup4 = document.getElementById("popup4");
    popup4.style.display = "flex";
  }
  function openNextPopup4() {
    var popup = document.getElementById("popup1");
    popup.style.display = "none";
    var popup2 = document.getElementById("popup2");
    popup2.style.display = "none";
    var popup3 = document.getElementById("popup3");
    popup3.style.display = "none";
    var popup4 = document.getElementById("popup4");
    popup4.style.display = "none";
    var popup5 = document.getElementById("popup5");
    popup5.style.display = "flex";
  }
  function openNextPopup5() {
    var popup = document.getElementById("popup1");
    popup.style.display = "none";
    var popup2 = document.getElementById("popup2");
    popup2.style.display = "none";
    var popup3 = document.getElementById("popup3");
    popup3.style.display = "none";
    var popup4 = document.getElementById("popup4");
    popup4.style.display = "none";
    var popup5 = document.getElementById("popup5");
    popup5.style.display = "none";
    var popup6 = document.getElementById("popup6");
    popup6.style.display = "flex";
  }
</script>