{% extends "base.html" %}

{% block title %}地圖

{% endblock %}
{% block main %}    
<!--
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="map.css"> 
    </head>

    <body>-->
        <!--地圖部分--> 
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
        <link rel="stylesheet" href="./map.css">
        <div class="grid-container">
            <div class="item1">
            <div class="flex-container1">
                <div>
                    <h1>地圖 Map</h1>
                </div>
                <div class="container" style="flex-basis: 20px">
                    <a type="button" onclick="openPopup()">
                        <img src="./images/stamp.png" width="110" height="70">
                        <div class="center">x {{stamp}}</div>
                    </a>
                </div>  
            </div>
            
            <p class="cat1">
                <img src="./images/cat5.png" width="75" height="100">
            </p>
            <p class="cat2">
                <img src="./images/cat6.png" width="75" height="100">
            </p>
            <p class="map1">
                <img src="./images/亮台中的圖.png" width="250" height="400" usemap="#workmap">
            </p>

            <map name="workmap">
                <a type="button" onclick="openPopup2()">
                    <area shape="poly" coords="60,100, 90,110, 200,100, 80,150, 55,120">
                </a>
                <a type="button" onclick="openPopup3()">
                    <area shape="poly" coords="155,15, 175,10, 245,15, 175,80">
                </a>
            </map>
            </div>
            
            <!--地圖明信片彈跳-->
            <div id="map_popup" class="popup">
                <div class="popup-content">
                  <h2>台中市 | TAICHUNG</h2>
                  <p>
                    <img src="./images/台中1.png" width="150" height="100">
                    <img src="./images/台中2.png" width="150" height="100">
                    <img src="./images/台中3.png" width="150" height="100">
                  </p>
                  <button class=close-btn onclick="closePopup2()">X</button>
                </div>
            </div>

            <div id="map_popup2" class="popup">
                <div class="popup-content">
                  <h2>台北市 | NEW TAIPEI CITY</h2>
                  <p>
                    <img src="./images/台北1.png" width="150" height="100">
                  </p>
                  <button class=close-btn onclick="closePopup3()">X</button>
                </div>
            </div>


            <!--寄出明信片彈跳-->
            <div id="popup1" class="popup">
                <div class="popup-content2">
                  <p class="img0">
                      <img src="./images/postcard.png" width="420" height="270">
                  </p>
                  <button class=close-btn2 onclick="openNextPopup1()">stamp</button>
                </div>
            </div>
              
            <div id="popup2" class="popup">
                <div class="popup-content2">
                    <p class="img0">
                        <img src="./images/postcard.png" width="420" height="270">
                    </p>
              
                  <p class="img1"><img src="./images/onlystamp.png" width="52" height="60"></p>
              
                  <p class="text1">DEAR MEW TAIPEI</p>
                  <p class="text2">MEW TAIPEI CAT</p>
                  <p class="text3">CAT'S HOME</p>
                  <p class="text4">最近我念了三本書，想分享給你</p>
                  <p class="text5">1. {{finish[4][1]}}</p>
              
                  <button class=close-btn2 onclick="openNextPopup2()">stamp</button>
                </div>
            </div>
              
            <div id="popup3" class="popup">
                <div class="popup-content2">
                    <p class="img0">
                        <img src="./images/postcard.png" width="420" height="270">
                    </p>
              
                      <p class="img1"><img src="./images/onlystamp.png" width="52" height="60"></p>
                      <p class="img2"><img src="./images/onlystamp.png" width="52" height="60"></p>
                  
                      <p class="text1">DEAR MEW TAIPEI</p>
                      <p class="text2">MEW TAIPEI CAT</p>
                      <p class="text3">CAT'S HOME</p>
                      <p class="text4">最近我念了三本書，想分享給你</p>
                      <p class="text5">1. {{finish[4][1]}}</p>
                      <p class="text6">2. {{finish[5][1]}}</p>
              
                      <button class=close-btn2 onclick="openNextPopup3()">stamp</button>
                </div>
            </div>
              
            <div id="popup4" class="popup">
                <div class="popup-content2">
                    <p class="img0">
                        <img src="./images/postcard.png" width="420" height="270">
                    </p>
              
                      <p class="img1"><img src="./images/onlystamp.png" width="52" height="60"></p>
                      <p class="img2"><img src="./images/onlystamp.png" width="52" height="60"></p>
                      <p class="img3"><img src="./images/onlystamp.png" width="52" height="60"></p>
                  
                      <p class="text1">DEAR MEW TAIPEI</p>
                      <p class="text2">MEW TAIPEI CAT</p>
                      <p class="text3">CAT'S HOME</p>
                      <p class="text4">最近我念了三本書，想分享給你</p>
                      <p class="text5">1. {{finish[4][1]}}</p>
                      <p class="text6">2. {{finish[5][1]}}</p>
                      <p class="text7">3. {{finish[6][1]}}</p>
              
                      <button class=close-btn2 onclick="openNextPopup4()">finish</button>
                </div>
            </div>
              
            <div id="popup5" class="popup">
                <div class="popup-content2">
                    <p class="img0">
                        <img src="./images/postcard.png" width="420" height="270">
                    </p>
              
                      <p class="img1"><img src="./images/onlystamp.png" width="52" height="60"></p>
                      <p class="img2"><img src="./images/onlystamp.png" width="52" height="60"></p>
                      <p class="img3"><img src="./images/onlystamp.png" width="52" height="60"></p>
                      <p class="img4"><img src="./images/final_stamp.png" width="155" height="80"></p>
                  
                      <p class="text1">DEAR MEW TAIPEI</p>
                      <p class="text2">MEW TAIPEI CAT</p>
                      <p class="text3">CAT'S HOME</p>
                      <p class="text4">最近我念了三本書，想分享給你</p>
                      <p class="text5">1. {{finish[4][1]}}</p>
                      <p class="text6">2. {{finish[5][1]}}</p>
                      <p class="text7">3. {{finish[6][1]}}</p>
              
                      <button class=close-btn2 onclick="openNextPopup5()">send</button>
                </div>
            </div>
                
              
            <div id="popup6" class="popup">
                  <div class="popup-content2">
                    <p class="img5">
                        <img src="./images/新北1.png" width="420" height="270">
                    </p>
                    <button class=close-btn onclick="closePopup()">X</button>
                  </div>
            </div>

        

            <script src="./../js/map.js"></script>


        <!--本週進度、table-->
            <div class="item2">
            <h1>本週進度 <br>Weekly Plan</h1>
            <table>
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 70%;">
                </colgroup>
                <tbody>
                    <tr>
                        <th>本週日期</th>
                    </tr>
                    <tr>
                        <td>MON</td>
                        <td>
                            <a class="fontcolor" href={{bookurl[books[0][0]]}}>{{books[0][1]}}</a>
                            <p>page 230~260</p>
                        </td>
                    </tr>
                    <tr>
                        <td>TUE</td>
                        <td>
                            <a class="fontcolor" href={{bookurl[books[0][0]]}}>{{books[0][1]}}</a>
                            <p>page 260~280</p>
                        </td>
                    </tr>
                    <tr>
                        <td>WED</td>
                        <td>
                            <a class="fontcolor" href={{bookurl[books[0][0]]}}>{{books[0][1]}}</a>
                            <p>page 280~300</p>
                        </td>
                    </tr>
                    <tr>
                        <td>THU</td>
                        <td>
                            <a class="fontcolor" href={{bookurl[books[0][0]]}}>{{books[0][1]}}</a>
                            <p>page 300~330</p>
                        </td>
                    </tr>
                    <tr>
                        <td>FRI</td>
                        <td>
                            <a class="fontcolor" href={{bookurl[books[0][0]]}}>{{books[0][1]}}</a>
                            <p>page 330~350</p>
                        </td>
                    </tr>
                    <tr>
                        <td>SAT</td>
                        <td>
                            <a class="fontcolor" href={{bookurl[books[0][0]]}}>{{books[0][1]}}</a>
                            <p>page 350~380</p>
                        </td>
                    </tr>
                    <tr>
                        <td>SUN</td>
                        <td>
                            <a class="fontcolor" href={{bookurl[books[0][0]]}}>{{books[0][1]}}</a>
                            <p>page 380~400</p>
                        </td>
                    </tr>
                </tbody>   
            </table>
            </div>

        <!--正在閱讀-->
            <div class="item3">
                <h1><br>正在閱讀 | READING<br><br></h1>
                {% for book_list in books %}
                <div class="div2">
                <div class="flex-container2">
                    <div style="flex-basis: 150px">
                        正在遊覽<br>
                        <img src={{book_list[2]}} width="90" height="100">
                    </div>
                    <div style="flex-basis: 400px">
                        <a class="fontcolor" href={{bookurl[book_list[0]]}}>{{book_list[1]}}</a><br>
                        閱讀進度
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{book_list[5]}}%" aria-valuenow="{{book_list[5]}}" aria-valuemin="0" aria-valuemax="100"> </div>
                        </div>
                    </div>
                    <div style="flex-basis: 150px">
                        <a type="button">
                            <img src="./images/finishbtn.png" width="110" height="120">
                        </a>
                    </div>
                </div>
                </div>
                </div>
            </div>
        {% endfor %}
        
       <!--
        </body>
    </html> -->
    {% endblock %}
