{% extends "base.html" %}

{% block title %}手札{% endblock %}
{% block main %}
<link rel="stylesheet" href="./../mystyle.css">
<div class="allwrap">
    <h1 title="書名" class= "bookname"> {{book[1]}} </h1>
    <div class="container1">
        <div class="item">
            <!--<p title="正在閱讀" style="font-family:oswald;"></p>-->
            <!---<a href="書本的連結" target="">-->
            <img src={{book[3]}} alt="您所選擇的書籍" class="bookimg">
            <!--這裡擺的是書本相關資訊-->
        </div>
        <div class="item itemtext">
            <div>
            作者：<span>{{book[0]}}</span><br>
            狀態：<span>{{book[1]}}</span><br>
            期限：<span>{{book[2]}}</span><br>
            書籤：<br>
            <!-- popup的書籤 -->
            <div class="wrap">
                <a class="btn popup-btn" href="#letmeopen">更新閱讀進度</a>
            </div class="body">
              <div class="popup-wrap" id="letmeopen">
                <div class="popup-box transform-out">
                    <div class="bookpage">
                        <h2>您的閱讀進度</h2>
                        <form method="get">
                            <div><input type="range" id="bookprogress" min="0" max="{{book[4]}}" step="1" value="0" /></div>
                            <div>
                            書籤：第<span class="rangeTxt"></span><span>頁 / {{book[4]}}頁</span>
                            </div>
                            <div >
                            <input type="submit" value="更新" class="btn bookpage">
                            </div>
                        </form>
                    </div>
                  <a class="close-btn popup-close" href="#">x</a>
                </div>
              </div>
            <!-- end -->
            </div>
        </div>
    </div>
    <div class="container2">
        <div style="font-size: 22px;" class="item2 thought">
            <p>心得紀錄 | Thoughts</p>
        </div>
        <div class="item2">
            <form method="get">
                <div class="p-3 m-0 border-0 bd-example">  
                    <div class="form-floating">
                        <grammarly-extension data-grammarly-shadow-root="true" class="cGcvT"></grammarly-extension>
                        <grammarly-extension data-grammarly-shadow-root="true" class="cGcvT"></grammarly-extension>
                        <textarea class="form-control" placeholder="暢所欲言你的感想吧！" id="floatingTextarea2" name="thought" spellcheck="false"></textarea>
                    </div>
                    <div class="submitbtn">
                        <input type="submit" value="紀錄" class="button">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    
<script src="./../js/myscript.js"></script>

{% endblock %}
