{% extends "base.html" %}

{% block title %}手札{% endblock %}
{% block main %}
<!--<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTR-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 手札 </title>-->
    <style>
        img {
            height: auto;
            width: 128px;
            }
        .button {
            background-color: #cfcfcf;
            border: none;
            color: black;
            padding: 4px 128px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            }
    </style>
</head>
<body style="background-color: white;">
<div>
    <h1 title="書名" style="font-size: 22px;"> 《當失戀的我，遇上尼采》 </h1>
    <div>
    <p title="正在閱讀" style="font-family:oswald;">
        <!---<a href="書本的連結" target="">-->
        <img src="./images/book001.jpg" alt="您所選擇的書籍">
        <!--這裡擺的是書本相關資訊-->
    </div>
    <div>
        作者：<br>
        狀態：<br>
        期限：<br>
        閱讀進度：<br>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-gray w3-round-xlarge" style="height:20px; width:25%">25%</div>
        </div>
        書籤：<br>
        <link rel="stylesheet" href="更新書籤.css">
        <button class="button">更新書籤</button>
    </div>
    </p>
</div>
<div>
    <div style="font-size: 22px;">
        <p>心得紀錄 | Thoughts</p>
    </div>
    <div>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <title>Bootstrap Example</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <div class="p-3 m-0 border-0 bd-example">  
            <div class="form-floating"><grammarly-extension data-grammarly-shadow-root="true" style="position: absolute; top: 0px; left: 0px; pointer-events: none;" class="cGcvT"></grammarly-extension><grammarly-extension data-grammarly-shadow-root="true" style="mix-blend-mode: darken; position: absolute; top: 0px; left: 0px; pointer-events: none;" class="cGcvT"></grammarly-extension>
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" spellcheck="false"></textarea>
            </div>
        </div>
    </div>
</div>
</body>    

</htm>
{% endblock %}