{% extends "base.html" %}
{% block title %}探索{% endblock %}
{% block main %}
    
    <link rel="stylesheet" href="rong.css"/>

      <!-- 往右推動 -->
  <section class="section">
    <!-- 往右推動 -->
    
    <h1>我的明信片｜My Post Cards</h1>


    <!-- The heading should be placed outside of the postcard container -->
    <h2 class="card-title">新北市 | NEW TAIPEI CITY</h2>

    <!-- The postcard container contains the images -->
    <div class="image-container2">
    <img src="./images/新北1.jpg">
    <img src="./images/台北1.jpg">
    <img src="./images/台中2.jpg">
    <img src="https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_A12-00268_3.jpg&sizetype=3">
    </div>

    <br><br><h1>貓咪圖鑑｜Cat Collection</h1>
    <div class="image-container">
    <img src="./images/cat1.png" width="150" hieght="200">
    <img src="./images/cat2.png" >
    <img src="./images/cat3.png" >
    <img src="./images/cat4.png" >
    <img src="./images/cat5.png" >
    <img src="./images/cat6.png" >
    <img src="./images/cat7.png" >
    <img src="./images/cat8.png" >
    <img src="./images/cat9.png" >
    <img src="./images/cat10.png" >
    <img src="./images/cat11.png" >
    <img src="./images/cat12.png" >
    <img src="./images/cat13.png" >
    <img src="./images/cat14.png" >
    <img src="./images/cat15.png" >
    <img src="./images/cat16.png" >
    <img src="./images/cat17.png" >
    
    </div>
{% endblock %}