{% extends "base.html" %}

{% block title %}我的收藏{% endblock %}
{% block main %}
    
    <h1>我的明信片</h1>
    <p>這是一個段落</p>
 <h1>我的明信片｜My Post Cards</h1>
    
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0" style="border:4px black solid;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h3 class="card-title">地區</h3>
            <p class="card-text">明信片caption</p>
            <a href="#" class="btn btn-primary">該明信片連結</a>
            </div>
        </div>
       
        <div class="col-sm-6 mb-3 mb-sm-0"style="border:4px black solid;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h3 class="card-title">地區</h3>
            <p class="card-text">明信片caption</p>
            <a href="#" class="btn btn-primary">該明信片連結</a>
            </div>
        </div>
    </div>
    
   
    
    <h1>貓咪圖鑑｜Cat Collection</h1>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0"style="border:4px black solid;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h3 class="card-title">貓咪1</h3>
            <p class="card-text">貓咪caption</p>
            </div>
        </div>
       
        <div class="col-sm-6 mb-3 mb-sm-0"style="border:4px black solid;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <h3 class="card-title">貓咪2</h3>
            <p class="card-text">貓咪caption</p>
            <a href="#" class="btn btn-primary">貓咪連結</a>
            </div>
        </div>
    </div>

{% endblock %}

