{% extends "base.html" %}
{% block title %}探索{% endblock %}
{% block main %}
    
    <link rel="stylesheet" href="rong.css"/>

    <h1>我的明信片｜My Post Cards</h1>


    <h2 class="card-title">新北市 | NEW TAIPEI CITY</h2>
    <div class="image-container">
        <img class="horizontal" src="https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_A12-00268_3.jpg&sizetype=3" >
        <img class="horizontal" src="https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_A12-00268_3.jpg&sizetype=3" ><br/>
    </div>
 

    <h1>貓咪圖鑑｜Cat Collection</h1>
    <h2 class="card-title">喵咪</h2>
    <div class="image-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0I-T18M8xpJIhe8ct89gllAdCBeuIHK_OM1s1W1sY&s" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0I-T18M8xpJIhe8ct89gllAdCBeuIHK_OM1s1W1sY&s" ><br/>
    </div>
{% endblock %}