<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width", initial-scale=1.0 />
        <title>full website design</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>

        <link rel="stylesheet"
        href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <a href="#" class="logo">我的貓咪書友</a>
            <div class="bx bx-menu" id="menu-icon"></div>
            
            <ul class="navbar">
                <li><a href="#home">地圖</a></li>
                <li><a href="#about">回憶</a></li>
                <li><a href="#menu">探索</a></li>
                <li><a href="#services">圖書館</a></li>
                <li><a href="#contact">個人資料</a></li>
            </ul>
        </header>

        <!------home start ------>
        <section class="home" id="home">
            <div class="home-text">
                <h1>Full Website</h1>
                <h2>Food the<br>Most Precious Things</h2>
                <a href="#" class="btn">Today's Menu</a>
            </div>

            <div class = "home-img">
                <img src="img/home.png">
            </div>
        </section>

        <! -------about start------>
        <section class="about" id="about">
            <div class="about-img">
                <img src="img/about.png">
            </div>

            <div class="about-text">
                <span>About Us</span>
                <h2>We speak the good<br> food language</h2>
                <p>There are many variations passages of Lorem Ipsum availible,but the
                    majority have suffered alteration in form, by injected humour
                    randomised words which don't look even slightly believable.</p>
                <a href="#" class="btn">Today's Menu</a>
            </div>
        </section>

        <!----menu start----->
        <section class="menu" id="menu">
            <div class="heading">
                <span>Food menu</span>
                <h2>Fresh taste and great price</h2>
            </div>

            <div class="menu-container">
                <div class="box">
                    <div class="box-img">
                        <img src="img/food1.png">
                    </div>
                    <h2>Chicken Burger</h2>
                    <h3>Tasty Food</h3>
                    <span>$11.00</span>
                    <i class="bx bx-cart-alt"></i>
                </div>

                <div class="box">
                    <div class="box-img">
                        <img src="img/food2.png">
                    </div>
                    <h2>Special Beef Burger</h2>
                    <h3>Tasty Food</h3>
                    <span>$11.00</span>
                    <i class="bx bx-cart-alt"></i>
                </div>

                <div class="box">
                    <div class="box-img">
                        <img src="img/food3.png">
                    </div>
                    <h2>Chicken Fry Pack</h2>
                    <h3>Tasty Food</h3>
                    <span>$11.00</span>
                    <i class="bx bx-cart-alt"></i>
                </div>

            </div>
        </section>
    </body>
</html>