<!DOCTYPE html>
<html lang="en" dir="lrt">
    <head>
        <meta charset="utf-8">
        <title> Side Menu Bar CSS</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="sidebar.css">
        <script src="https://kit.fontawesome.com/4ce746933b.js" crossorigin="anonymous"></script>

    <body>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bag-backpack" id="btn">     背包</i>
            <i class="fas fa-angles-left" id="cancel"></i>
        </label>
        <div class="sidebar">
            <header>背包</header>
            <ul>
                <li><a href="#"><i class="fas fa-book">  書 1</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 2</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 3</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 4</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 5</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 6</i></a></li>
                <li><a href="#"><i class="fas fa-book">  書 7</i></a></li>

            </ul>
        </div>

        <section></section>
    </body>
</html>