*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #fefdfa;
    transition: all.5s ease;
}
.sidebar header{
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 60px;
    background: #ff702a;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 18px; 
    color: #042331;
    padding-left: 20px; 
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255,255,.1);
    /*  每本書中間的界線 border-bottom: 1px solid #042331; */
    transition: .4s;
}

/* 鼠標點擊往右 */
ul li:hover a{
    padding-left: 50px;
}

/* 書的圖案靠右 */
.sidebar ul a i{
    margin-right: 16px;
}

/* 勾勾消失 */
#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #ff702a;
    border-radius: 3px;
}

/* 主頁打開背包的logo */
label #btn{
    left: 40px;
    top: 25px;
    font-size: 20px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

/* 收起來叉叉 */
label #cancel{
    z-index: 1111;
    left: -195px;
    line-height: 60px;
    font-size: 20px;
    color: #042331;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0; 
}
#check:checked ~ label #btn{
    left: 250px; 
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 200px;
}

#check:checked ~ section{
    margin-left: 250px
}