*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color:#986b3f;
    --text-color:#1e1c2a;
    --bg-color:#fefdfa;
    --big-font:5rem;
    --h2-font:2rem;
    --p-font:0.9rem;
}

*::selection{
    background: var(--main-color);
    color:#fff;
}

/* 往右推動整頁 */
.section{
  margin-top: -60px;
  margin-left: -120px;
}
body{
    color: var(--text-color);
    background: #fff9f3;
}

h1{
    font-size: 2.3rem;
    font-weight: 350;
    margin-top: 6px;
    margin-bottom: 12px;
}

header{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px 10px 50px;
    background: white;
    border-bottom: solid 0.3px #888375;
}

section{
    padding: 70px 17%;
}

.catlogo{
    width: 32px;
    height: 32px;
    margin-bottom: 6px;
}

.catlogo:hover{
    box-shadow: #ff702a;
}

.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2rem;
}

.logo:hover{
    color: #986b3f;
    text-shadow: #ff702a;
    text-decoration: none;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.1rem;
    padding: 10px 20px;
}

.navbar a:hover{
    color: var(--main-color);
    font-weight: 600;
    transition: .4s;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* 主選單結束 */



/* dropdown開始 */

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 21%;
    line-height: 30px;
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
    /* border: 1px solid;
    border-radius: 8px; */
}

ul li:hover ul.dropdown{
    display: block;
}

/* dropdown 結束 */


.sidebar{
    position: fixed;
    margin-top: 70px;
    left: -250px;
    width: 250px;
    height: 8%;
    background: white;
    transition: all.5s ease;
}   
.open .sidebar{
    transform: 0;
}
.open main{
    transform: 250px;
} 

.sidebar h2{
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    background: #be9f87;
    user-select: none;
}

.sidebar ul {
    margin-left: 10px;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 80px;
    font-size: 12px; 
    color: #042331;
    background-color: white;
    padding-left: 5px; 
    box-sizing: border-box;
    transition: .4s;
}

/* 鼠標點擊往右 */
.sidebar ul li:hover a{
    padding-left: 25px;
}

/* 書的圖案靠右 */
.sidebar ul a i{
    margin-right: 16px;
}

/* 勾勾消失 */
#check{
    display: none;
}

label #btn, label #cancel{
    position: fixed;
    cursor: pointer;
    border-radius: 3px;
}

/* 主頁打開背包的logo */
label #btn{
    left: 50px;
    top: 100px;
    background: #98693f;
    font-size: 20px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

/* 收起來logo */
label #cancel{
    z-index: 1111;
    top: 82px;
    left: -195px;
    line-height: 65px;
    font-size: 20px;
    color: #042331;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0; 
}
#check:checked ~ label #btn{
    left: 250px; 
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 200px;
}

#check:checked ~ section{
    margin-left: 250px
}

.card{
    border: 1px solid;
    width: 120vh;
	background-color: white;
	border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-title{
    margin-left: 10px;
    font-size: 25px;
    font-weight: 350;
}

.card-title h2{
    font-size: 10px;
}

.myChart{
    border: 1px solid;
	background-color: white;
	border-radius: 8px;
}

#myChart{
    border: 1px solid;
	background-color: white;
	border-radius: 8px; 
    padding: 20px;
}

#myChart2{
    border: 1px solid;
	background-color: white;
	border-radius: 8px; 
    padding: 20px;
}


.logincat1{
    height: 30vh;
    width: auto;
    margin-left: -10px;
}

.logincat2{
    height: 30vh;
    width: auto;
    margin-left: 10px;
}

.pushpush{
    margin-left: 250px;
    margin-top: 80px;
}

