.bookname {
    padding: 20px 10px 10px 10px;
}
img {
    content: 'img';
    display: inline-block;
    height: auto;
    width: 130px;
    float: left;
    padding: 0px 20px 10px 20px;
    }
.button {
    background-color: #d4d4d4;
    border: none;
    color: black;
    padding: 4px 128px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    }
.thoughts{
    padding: 10px;
}