img {
    height: auto;
    width: 128px;
    }
.button {
    background-color: #cfcfcf;
    border: none;
    color: black;
    padding: 4px 128px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    }